<div id="footer">
<footer id="footer" class="footer">
<div class="container">
<div class="row margin-b-50">
<div class="col-sm-6 sm-margin-b-30">
    <!-- Address -->
    <div class="footer-address">
        <h3 class="footer-title">CONTINENTAL GROUP HEAD OFFICE</h3>

        <p class="footer-address-text">P.O. Box No: 27219, Port Zayed, 28A-Warehouse Zone, Gate No.1, Abu Dhabi, U.A.E.</p>
        <p class="footer-address-text">+ 971 2 6265281</p>
        <a class="footer-address-link" href="#">info@cgemirates.com</a>
    </div>
    <!-- Address -->
</div>
<div class="col-sm-6">
    <!-- Testimonials -->
    <div class="footer-testimonials">
        <div class="footer-testimonials-quote">
            <p>Owning a home is a keystone of wealth... Both financial affluence and emotional security.</p>
        </div>
        <span class="footer-testimonials-author">— Kenny Johnson</span>
    </div>
    <!-- End Testimonials -->
</div>
</div>
<!-- end row -->

<div class="row margin-b-50">
<div class="col-md-3 col-sm-6 col-xs-6 xs-full-width md-margin-b-50">
    <h3 class="footer-title">Information</h3>
    <!-- News List -->
    <ul class="list-unstyled footer-news-list">
        <li class="footer-news-list-item">
            <i class="footer-news-list-icon fa fa-angle-right"></i>
            <a class="footer-news-list-link" href="#">How to
                Browse Properties for Sale?</a>
        </li>

        <li class="footer-news-list-item">
            <i class="footer-news-list-icon fa fa-angle-right"></i>
            <a class="footer-news-list-link" href="#">How to
                Sell my Own Property?</a>
        </li>
        <li class="footer-news-list-item">
            <i class="footer-news-list-icon fa fa-angle-right"></i>
            <a class="footer-news-list-link" href="#">How to
                Browse Properties for Rent?</a>
        </li><li class="footer-news-list-item">
            <i class="footer-news-list-icon fa fa-angle-right"></i>
            <a class="footer-news-list-link" href="#">How to
                Let my own Property?</a>
        </li>
        <li class="footer-news-list-item">
            <i class="footer-news-list-icon fa fa-angle-right"></i>
            <a class="footer-news-list-link" href="#">How to become a Service Provider?</a>
        </li>
        <li class="footer-news-list-item">
            <i class="footer-news-list-icon fa fa-angle-right"></i>
            <a class="footer-news-list-link" href="#">How to browser Real Estate Services?</a>
        </li>
        <li class="footer-news-list-item">
            <i class="footer-news-list-icon fa fa-angle-right"></i>
            <a class="footer-news-list-link" href="#">24/7 Support</a>
        </li>
    </ul>
    <!-- End News List -->
</div>
<div class="col-md-3 col-sm-6 col-xs-6 xs-full-width md-margin-b-50">
    <h3 class="footer-title">Latest news</h3>
    <!-- News Media -->
    <ul class="list-unstyled footer-media">
        <li class="footer-media-item">
            <div class="footer-media-poster">
                <img class="footer-media-img radius-circle" src="assets/img/250x250/09.jpg" alt="">
            </div>
            <div class="footer-media-info">
                <a class="footer-media-link" href="#">
                    CRE Now Available with Android and IOS
                </a>
                <small class="footer-media-date">Oct 25, 2017</small>
            </div>
        </li>
        <li class="footer-media-item">
            <div class="footer-media-poster">
                <img class="footer-media-img radius-circle" src="assets/img/250x250/08.jpg" alt="">
            </div>
            <div class="footer-media-info">
                <a class="footer-media-link" href="#">
                    UAE Real Estate laws 2017
                </a>
                <small class="footer-media-date">Spt 10, 2017</small>
            </div>
        </li>
        <li class="footer-media-item">
            <div class="footer-media-poster">
                <img class="footer-media-img radius-circle" src="assets/img/250x250/07.jpg" alt="">
            </div>
            <div class="footer-media-info">
                <a class="footer-media-link" href="#">
                    20 New Properties has been listed
                </a>
                <small class="footer-media-date">Jun 12, 2017</small>
            </div>
        </li>
        <li class="footer-media-item">
            <div class="footer-media-poster">
                <img class="footer-media-img radius-circle" src="assets/img/250x250/11.jpg" alt="">
            </div>
            <div class="footer-media-info">
                <a class="footer-media-link" href="#">
                    2017 UAE Market trends and much more...
                </a>
                <small class="footer-media-date">Mar 15, 2016</small>
            </div>
        </li>
    </ul>
    <!-- End News Media -->
</div>
<div class="col-md-3 col-sm-6 col-xs-6 xs-full-width xs-margin-b-50">
    <h3 class="footer-title">Tags</h3>
    <!-- Tags -->
    <ul class="list-inline footer-tags margin-b-30">
        <li><a class="radius-50" href="#">aggregation</a></li>
        <li><a class="radius-50" href="#">properties for rent</a></li>
        <li><a class="radius-50" href="#">properties for sell</a></li>
        <li><a class="radius-50" href="#">retail properties</a></li>
        <li><a class="radius-50" href="#">cre support</a></li>
        <li><a class="radius-50" href="#">cre contact</a></li>
    </ul>
    <!-- End Tags -->

</div>
<div class="col-md-3 col-sm-6 col-xs-6 xs-full-width">


    <h3 class="footer-title">Support</h3>
    <!-- News List -->
    <ul class="list-unstyled footer-news-list">
        <li class="footer-news-list-item">
            <i class="footer-news-list-icon fa fa-angle-right"></i>
            <a class="footer-news-list-link" href="#">FAQ</a>
        </li>
        <li class="footer-news-list-item">
            <i class="footer-news-list-icon fa fa-angle-right"></i>
            <a class="footer-news-list-link" href="#">Forum</a>
        </li>
        <li class="footer-news-list-item">
            <i class="footer-news-list-icon fa fa-angle-right"></i>
            <a class="footer-news-list-link" href="#">Support</a>
        </li>
    </ul>
    <!-- End News List -->


</div>
</div>
<!--// end row -->

<!-- Copyright -->
<ul class="list-inline footer-copyright">
<li class="footer-copyright-item">Copyright © 2017 Civilization Real Estate. All Rights Reserved.</li>
<li class="footer-copyright-item"><a href="#">Terms &amp; Conditions</a></li>
<li class="footer-copyright-item"><a href="#">Privacy &amp; Policy</a></li>
<li class="footer-copyright-item-toggle-trigger"><a class="footer-toggle-trigger footer-toggle-trigger-style" href="javascript:void(0);">Group Companies</a></li>
</ul>
<!-- End Copyright -->

<!-- Collapse -->
<div class="footer-toggle-collapse footer-toggle" style="display: none;">
<div class="row">
    <div class="col-sm-4 sm-margin-b-50">
        <h4 class="footer-toggle-title">CEG Trading</h4>
        <p class="footer-toggle-text">P.O. Box No: 27219, Port Zayed, 28A-Warehouse Zone, Gate No.1, Abu Dhabi, U.A.E.</p>
        <p class="footer-toggle-text">Phone: + 971 2 6265281</p>
        <a class="footer-toggle-link" href="#">Email: info@cegtrading.com</a>
    </div>
    <div class="col-sm-4 sm-margin-b-50">
        <h4 class="footer-toggle-title">Seven Spikes Bakery</h4>
        <p class="footer-toggle-text">P.O. Box : 27219,Musaffah M-38, Plot No 54,
            Abu Dhabi, U.A.E.</p>
        <p class="footer-toggle-text">Phone: + 971 2 555-2738</p>
        <a class="footer-toggle-link" href="#">Email: info@ssb.com</a>
    </div>
    <div class="col-sm-4">
        <h4 class="footer-toggle-title">Ebtikar</h4>
        <p class="footer-toggle-text">P.O. Box No: 27219, Port Zayed, 28A-Warehouse Zone, Gate No.1, Abu Dhabi, U.A.E.</p>
        <p class="footer-toggle-text">Phone: + 971 2 6265281</p>
        <a class="footer-toggle-link" href="#">Email: info@cgemirates.com</a>
    </div>
</div>
<!--// end row -->
</div>
<!-- End Collapse -->
</div>
</footer>
</div>
</div>
</body>
</html>
