<!DOCTYPE html>
</html>
    <head>
        <title>Ecivilization</title>
        <style>
		@import url('https://fonts.googleapis.com/css?family=Montserrat');
		</style>
        <link href="/../css/style.css" rel="stylesheet">
        <link href="/../css/global.css" rel="stylesheet">
        <link href="/../css/jquery.mCustomScrollbar.css" rel="stylesheet">

        <!-- Materialize CSS -->
        <!-- Compiled and minified CSS -->
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css"> -->

        <!-- Compiled and minified JavaScript -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script> -->

        <!-- Bootstrap CSS -->
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            
        <script type="text/javascript" src="/../js/all.js"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <!-- <body style="background:url('/../images/bg.png');background-size: 100%;"> -->
    <body style="background-color:#f9f9f9;background-size: 100%;">
        <div id="mCSB_1" class="mCustomScrollBox mCS-dark mCSB_vertical mCSB_inside" tabindex="0"><div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
        <div id="header">

           <a href="/">
           <div style="margin-left: 70px;color: #fff;width: auto;float: left;padding: 0 !important;margin-top: 4px;">
                <img src="/../images/logo_red.png" width="110"><div style="font-size: 13px;color:#26345F;margin-top: 6px;">Civilization Real Estate</div>
            </div>
            </a>

            <div style="padding-left: 20px;float: right;margin-top:21px;margin-right: 25px;cursor: pointer;">
                <div class="" onclick="majestic_menu('slide_left',document.getElementsByClassName('majestic-menu')[0])" style="float: right;"><i class="fa fa-bars" aria-hidden="true" style="font-size: 30px;"></i></div>
            </div>

            <div style="width: 150px;float: right;margin-left: 10px;margin-top: 6px;">
                <a href="#" style="text-decoration: none;"><div class="buttonn -regular center">SUPPORT</div></a>
            </div>


            <div style="width: 150px;float: right;margin-left: 20px;margin-top: 6px;">
                <% if(locals.messages){ %>
                    <!-- <span><%= locals.messages.success %></span>              -->
                <% } else { %>
                    <a href="/login" style="text-decoration: none;"><div class="buttonn -regular center">LOGIN / SIGNUP</div></a>
                <% } %>
            </div>

        </div>